@import "src/assets/styles/vars";

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &Back {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    transition: .1s ease-in-out;
    overflow: hidden;

    svg {
      margin-left: 20px;
      transition: .1s ease-in-out;
    }

    h1 {
      margin: 0 !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (hover: hover) {
      &:hover {
        color: $base-color;

        svg {
          fill: $base-color;
        }
      }
    }
  }
}
