@import "src/assets/styles/vars";

.confirm {
  padding: 0 20px 20px;
  min-width: 500px;

  @media (max-width: 510px) {
    min-width: unset;
    width: calc(100vw - 10px);
    :global {
      .btn__wrapper {
        flex-wrap: wrap-reverse;
        button {
          width: 100%;
          &:first-child {
            margin: 10px 0 0 0;
          }
        }
      }
    }
  }

  h4 {
    border-bottom: 1px solid #acacac;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 30px 10px;
  }

  p {
    font-size: 16px;
    padding: 20px 10px 0;
    text-align: center;

    &.noTitle {
      padding: 30px 30px 20px;
    }
  }
}
