.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;

  @media (max-width: 800px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    padding: 20px;
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;

    &Text {
      margin-left: 15px;
      h3, p {
        margin: 0;
      }

      h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
      }

      p {
        opacity: 0.5;
        font-size: 16px;
        @media (max-width: 420px) {
          font-size: 14px;
        }

        @media (max-width: 370px) {
          font-size: 12px;
        }

        @media (max-width: 330px) {
          display: none;
        }
      }
    }
  }

  .headerLinks {
    display: flex;

    @media (max-width: 600px) {
      width: 100%;
      justify-content: space-between;
      margin-top: 20px;
    }
    & > li {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: 15px;

      &:first-child {
        margin-left: 0;
        line-height: 32px;
        svg {
          margin-right: 10px;
        }
      }

      a {
        width: 20px;
        height: 20px;
      }

      svg {
        transition: .1s ease-in-out;
      }

      .otherSVG path {
        transition: .1s ease-in-out;
      }

      @media (hover: hover) {
        &:hover {
          svg {
            fill: black;
          }

          .otherSVG {
            fill: none;
            stroke: black;

            path {
              fill: black;
            }
          }

          .strokeSVG {
            fill: none;
            stroke: black;
          }
        }
      }
    }
  }
}
