@import "src/assets/styles/vars";

.orderTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }

  h3 {
    font-size: 20px;

    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 10px;
    }

    .removedClient {
      text-decoration: line-through;
      margin-left: 20px;
    }

    a {
      margin-left: 20px;
      text-decoration: underline;
      transition: .1s ease-in-out;
      @media (hover: hover) {
        &:hover {
          color: $base-color;
        }
      }
    }
  }

  h4 {
    font-size: 18px;

    span:last-child {
      margin-left: 5px;
      font-weight: bold;
    }
  }
}
