$base-color: #9dd558;
$base-color-darken: darken($base-color, 10%);
$base-color-lighten: darken($base-color, 10%);
$table-color: #F4C373;
$error-color: #FF3434;
$cancel-color: #D52323;
$cancel-color-darken: darken($cancel-color, 10%);
